/*

html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
 	margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
 	margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
	font-weight: bold;
}
*/
.sapPageOrderDetail{

}


.sapInputRight input {
	text-align: right;
	font-size: larger;
}

.sapScrap {
	    background-color: mistyrose;
}

.sapScrapComp {
	    background-color:  #f5b04d; 
}


.sapConf{
	background-color: aquamarine;
}


.sapRed {
	color: red;
}